body {
  background-color: #f4f4f9;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  background-color: #1a73e8 !important;
}

.card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #ff6d00;
}

footer {
  background-color: #1a73e8;
  color: white;
  padding: 20px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

button {
  font-size: 14px;
}

.list-group-item {
  border: none;
  background: #ffffff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  margin-bottom: 10px;
}
